$lines: (
  dlr: (#00afad, #fff),
  district: (#007d32, #fff),
  hammersmith-city: (#f4a9be, #000)
);

:host {
  display: inline-flex;
}

.arrival {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  font-family: Montserrat, sans-serif;
  box-shadow: 2px 2px 4px 0 rgba(#000, 0.3);

  @each $line in map_keys($lines) {
    &.#{$line} {
      background-color: nth(map_get($lines, $line), 1);
      color: nth(map_get($lines, $line), 2);
    }
  }

  &--too-late {
    opacity: 0.3;
  }

  &--small {
    width: 4rem;
    height: 4rem;
    justify-content: center;

    .arrival__destination {
      display: none;
    }
    .arrival__time {
      font-size: 2rem;
    }
  }

  &__destination {
    flex-grow: 1;
    font-size: 1.2rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__time {
    font-size: 3rem;
    text-align: center;
  }
}
