:host {
  font-size: 1.4rem;
}

.app {
  &__title {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__element {
    display: block;
    min-height: 20vh;
    margin-bottom: 1vh;
    background-color: #eee;
  }
}
