.stations{
  &__item {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 4px 0 rgba(#ccc, 0.4);
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
}

.platforms {
  &__item {
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.arrivals {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 10rem;
  align-items: flex-start;
  justify-content: space-between;

  &__item {
    margin-right: 1em;
    flex: 0 0 auto;
  }
}
